<!-- Testing review = {{ test }} -->
<banner user="user"></banner>

<div class="row">
  <div class="clm clm-3">&nbsp;</div>
  <div class="clm clm-6 review-form">
    <h2>Find/Add Location</h2>
    <form>
      <input type="text" placeholder="Location Name, e.g. 'My Favorite Taco Shop'" ng-model="location.name">
      <!-- <button class="btn-circle">search</button> -->
      <!-- <button class="btn-circle">add</button> -->
      <br />
      <input type="text" placeholder="Address Line 1" ng-model="location.address.line1">
      <input type="text" placeholder="Address Line 2" ng-model="location.address.line2">
      <input type="text" placeholder="City" ng-model="location.address.city">
      <input type="text" placeholder="State" ng-model="location.address.state">
      <input type="text" placeholder="ZIP Code" ng-model="location.address.zip">
      <!-- <input type="text" placeholder="Country" ng-model="location.address.country"> -->
      <input type="text" placeholder="Hours" ng-model="location.hours">
      <input type="text" placeholder="Category" ng-model="location.category">
      <!-- <input type="text" placeholder="Subcategory" ng-model="location.subcategory"> -->
      <input type="text" placeholder="Phone Number" ng-model="location.phoneNumber">
      <input type="text" placeholder="Website" ng-model="location.website">
      <button type="submit" ng-click="selectLocation(location)">select location</button>
    </form>

    <h2>Review {{location.name}}</h2>
    <form>
      <div>
        <input type="checkbox" ng-model="review.romantic">💋
      </div>
      <select ng-model="review.price">
        <option value="null"></option>
        <option value="0">Free</option>
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
      </select>
        <input type="text" placeholder="stars" ng-model="review.stars">
      <div class="stars">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <textarea rows="9" placeholder="Text, e.g. 'I loved it, what good tacos!'" ng-model="review.text"></textarea>
      <button type="submit" ng-click="submitReview(review)">submit review</button>
    </form>
  </div>
  <div class="clm clm-3">&nbsp;</div>
</div>
