html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  position: relative;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: orange;
}

.pic {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  background-image: url("https://files.slack.com/files-pri/T039C2PUY-F0LJN4JMA/screen_shot_2016-02-08_at_11.00.18_am.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: inline-block;
}

.pic + div {
  /*outline: 1px solid black;*/
  max-width: 80%;
  margin: 1em;
  margin-left: 0.5em;
  display: inline-block;
}

.pic + div + input {
  display: inline-block;
}

/********/
/*INPUTS*/
/********/

button {
  background-color: white;
  border: 0.2em solid salmon;
  text-transform: uppercase;
}

button:hover {
  background-color: salmon;
  color: white;
}

/*.btn-circle {
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
}*/

button[type=submit] {
  display: block;
  padding: 1em 2em;
  margin: 1em 0;
}

textarea {
  width: 98%;
  display: block;
  /*margin: 0 auto;*/
}

input:not([type=button]):not([type=textarea]):not([type=submit]):not([type=checkbox]) {
  background-color: rgba(0,0,0,0);
  width: 33%;
  padding: 1em 0.8em 0.6em;
  margin: 0 0.2em;
  border: none;
  border-bottom: .2em solid salmon;
  transition: border 0.1s;
  position: relative;
}

input:focus:not([type=button]):not([type=textarea]):not([type=submit]):not([type=checkbox]) {
  border-bottom: .4em solid salmon;
  outline: none;
}

/******/
/*MAIN*/
/******/

main {
  height: calc(100vh - 8em);
  width: 100%;
}

.ui {
  width: 100%;
}

.ui,
main > .ui > .row {
  height: 100%;
}

main > .ui > .row > .clm {
  height: 80%;
  padding: 0 2em;
  overflow: scroll;
  background-color: #DCF7FF;
  position: relative;
  top: 0.5em;
}

main > .ui > .row > .clm:first-child,
main > .ui > .row > .clm:last-child {
  background-color: white;
}
/********/
/*REVIEW*/
/********/

.stars {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.stars > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  margin: 0.5em 0;
}
.stars > span:hover:before,
.stars > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #FED700;
}
